.nav {
    grid-area: nav;
    background-color: #1e484b;
    flex-direction: column;
    padding:  30px;
    border-radius: 10px;
    height: 475px;
  }
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
  }
  .menu li a {
    color: #ffffff;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all;
    text-decoration: none;
    text-transform: uppercase;
  }
  .menu li a:hover {
    color: #ceb289;
  }
  .menu li a.active {
    color: #da8403;
  }

  .nav a:hover {
    color: #ceb289;
  }
